<footer class="" id="footer">
          <!-- ======= Footer ======= -->         
            <div class="container d-lg-flex py-4"> 
                <div class="me-lg-auto text-center text-lg-start"> 
                    <div class="copyright"> 
                      &copy; {{ site.copyright }} {{ 'now' | date: "%Y" }}
                    </div>                     
                </div>                 
                <div class="social-links text-center text-lg-right pt-3 pt-lg-0"> 
                    <a href="https://twitter.com/0perationP" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a> 
                    <a href="https://matrix.to/#/#OperationPrivacy:matrix.org" target="_blank" title="Chat/Support"><i class="far fa-comments"></i></a>
                    <a href="https://www.OperationPrivacy.com/donate" target="_blank" title="Donation"><i class="fas fa-hand-holding-usd"></i></a> 
                </div>                 
            </div>             
        <!-- End Footer -->         
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-chevron-up"></i></a> 
       
        <script src="{{"/assets/js/bootstrap.min.js"| relative_url }}"></script>
        <script src="{{"/assets/aos/aos.js" | relative_url }}"></script>   
        <script src="{{"/assets/js/main.js" | relative_url }}"></script>       
    
</footer>
