<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="msapplication-config" content="none"/> 
  <link href="{{ "/assets/bootstrap.min.css" | relative_url }}" rel="stylesheet"> 
  <link rel="stylesheet" href="{{ "/assets/fontawesome/all.css" | relative_url }}"> <!--FontAwesome 5-->
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">
  <!-- Favicons -->         
  <link rel="apple-touch-icon" sizes="180x180" href="{{"/img/favicon/apple-touch-icon.png?v=1"| relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{"/img/favicon/favicon-32x32.png?v=1"| relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{"/img/favicon/favicon-16x16.png?v=1"| relative_url }}">
  <link rel="manifest" href="{{"/img/favicon/site.webmanifest"| relative_url }}">
  <link rel="mask-icon" href="{{"/img/favicon/safari-pinned-tab.svg?v=1"| relative_url }}" color="#5bbad5">
  <link rel="shortcut icon" href="{{"/img/favicon/favicon.ico?v=1"| relative_url }}">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  <meta name="description" content="A DIY dashboard: Because it's personal">
  <meta name="theme-color" content="#ffffff">
  <!-- Vendor CSS Files -->         
  <link href="{{ "/assets/aos/aos.css" | relative_url }}" rel="stylesheet">
</head>
