<!-- ======= Header ======= -->         
 <header id="header" class="d-flex align-items-center"> 
    <div class="container d-flex justify-content-center"> 
        <nav id="navbar" class="navbar"> 
            <ul> 
                <li>
</li>                         
                <li>
                    <a class="nav-link scrollto" href="#quickfacts" target="_pg_blank">Pricing</a>
                </li>                         
                <li>
                    <a class="nav-link scrollto " href="#transparency" target="_pg_blank">Transparency</a>
                </li>
                <li>
                    <div class="logo nav-link scrollto active"> 
                        <a href="{{"/" | relative_url }}"><img src="{{"/img/logo-b.svg" | relative_url }}" alt="Operation Privacy" class="img-fluid" title="Operation Privacy"></a> 
                    </div>
                </li>                         
                <li>
                    <a class="nav-link scrollto" href="#faq" target="_pg_blank">FAQ</a>
                </li>                         
                <li>
                    <a href="/blog/">Blog</a>
                </li>                         
                <li>
                    <a class="nav-link scrollto btn-buy" href="https://dashboard.OperationPrivacy.com/login" target="_pg_blank">Login</a>
                </li>                         
            </ul>                     
            <i class="fas fa-bars mobile-nav-toggle"></i> 
        </nav>
        <!-- .navbar -->                 
    </div>             
</header>
<!-- End Header -->     
