        <!-- ======= Hero Section ======= -->         
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center"> 
            <div class="container" data-aos="fade-in"> 
                <div class="row my-5 mb-md-auto">
                    <div class="col-12 col-md-6 mb-3 mb-md-auto">
                        <h1>Operation Privacy</h1> 
                        <h2>A DIY dashboard: Because it&apos;s personal</h2> 
                        <div class="d-flex align-items-center"> 
                            <img src="{{ "/img/logo-w.svg" | relative_url }}" alt="Operation Privacy" class="img-fluid logo-get-started" > 
                            <a href="https://dashboard.OperationPrivacy.com/signup" class="btn-get-started scrollto">Get Started</a>
                        </div>
                    </div>
                    <div class="col col-md-4 d-sm-block mb-3 mb-md-auto">
                        <img src="{{ "/img/laptop.png" | relative_url }}" class="dash" alt="Privacy Dashboard"/>
                    </div>
                    <div class="col col-md-2 d-sm-block mb-3 mb-md-auto" data-aos="flip-left" data-aos-delay="500">
                        <a href="https://amzn.to/3tHeWrK" target="_blank"><img src="{{ "/img/EP4.png" | relative_url }}" class="dash"
                                alt="Extreme Privacy 4th Edition by Michael Bazzell"
                                title="Extreme Privacy 4th Edition by Michael Bazzell" />
                            <p>Recommended</p>
                        </a>
                        
                    </div>
                </div>                 
            </div>             
        </section>
        <!-- End Hero --> 
        <main id="main"> 
          <!-- ======= Quick Facts ======= -->             
          <section id="quickfacts" class="quickfacts mt-5"> 
              <div class="container"> 
                  <div class="row">
                      <div class="col d-flex flex-column mb-4"> 
                          <div class="box content"> 
                              <h3 class="text-center"><b><i class="far fa-chart-bar"></i> Privacy Dashboard</b></h3>
                          <div class="d-sm-flex">   
                          <div class="infoSections">
                              <ul>
                                  <li>DIY Manual Cleanup</li>
                                  <li>Over 300+ items</li>
                                  <li>Privacy Score</li>
                              </ul> 
                             </div> 
                          <div class="infoSections">
                              <ul>
                                  <li>Crowd Sourced</li>
                                  <li>Track Progress</li>
                                  <li>Continuously Updated</li>                                    
                              </ul> 
                          </div>
                          <div class="infoSections">
                              <ul>
                                  <li>Private And Secure</li>
                                  <li>Proactive Monitoring</li>
                                  <li>Used By Privacy Consultants</li>
                              </ul> 
                          </div>                              
                          </div>                             
                      </div>
                  </div>
  
                  </div>
                  <div class="row"> 
                      
                      <div class="col-md-4 col-sm-6 mb-4 pricing" data-aos="fade-up"> 
                          <div class="box d-flex flex-column"> 
                              <h3><i class="fas fa-search-minus"></i> Conscious</h3> 
                              <h4><sup>$</sup>Free<span> / life</span></h4> 
                              <ul> 
                                  <li>
                                      <i class="fas fa-database"></i>Data Brokers Opt-Out List
                                  </li>
                                  <li>
                                      <i class="fas fa-cloud-download-alt"></i>Data Retrieval
                                  </li>
                                  <li>
                                      <i class="fas fa-icicles"></i>Credit Freezes
                                  </li>
                                  <li>
                                      <i class="fas fa-theater-masks"></i>OpSec Tips
                                  </li>
                                  <li>
                                      <i class="fas fa-laptop"></i>Device Privacy
                                  </li>
                                  <li>
                                      <i class="fab fa-rocketchat"></i>Private Forum Access
                                  </li>
                                  <li>
                                      <a href="https://voip.OperationPrivacy.com/" target="_blank" title="Web interface connected to your Telnyx/Twilio API"><i class="fas fa-sms"></i>VoIP Suite</a>
                                  </li>                                      
                              </ul>                                 
                              <div class="btn-wrap mt-auto"> 
                                  <a href="https://dashboard.OperationPrivacy.com/signup" class="btn-buy">Start</a> 
                              </div>                                 
                          </div>                             
                      </div>
                      <div class="col-md-4 col-sm-6 mb-4 pricing" data-aos="fade-up" data-aos-delay="100"> 
                          <div class="box d-flex featured flex-column"> 
                              <h3><i class="far fa-eye-slash"></i> Serious</h3>
                              <h4><sup>$</sup>Free</h4>
                              <ul> 
                                  <li>
                                      <i class="fas fa-star-of-life"></i><em class="text-secondary">At 30% completion</em>
                                  </li>
                                  <li>
                                      <i class="fas fa-plus"></i><em>Conscious</em>
                                  </li>
                                  <li>
                                      <i class="far fa-star"></i>Premium Removals
                                  </li>
                                  <li>
                                      <i class="fas fa-business-time"></i>Business Listings
                                  </li>
                                  <li>
                                      <i class="fas fa-warehouse"></i>Home Privacy
                                  </li>
                                  <li>
                                       <i class=" fas fa-phone-slash"></i>Digital Detox
                                  </li>  
                              </ul>                                 
                              <div class="btn-wrap mt-auto"> 
                                  <a href="https://dashboard.OperationPrivacy.com/signup" class="btn-buy">Get Serious</a>
                              </div>
                          </div>                             
                      </div>
                      <div class="col-md-4 col-sm-6 mb-4 pricing" data-aos="fade-up" data-aos-delay="300"> 
                          <div class="box d-flex flex-column"> 
                              <span class="advanced">Extreme</span> 
                              <h3><i class="fas fa-ghost"></i> Ghost</h3>
                              <h4><sup>$</sup>9<span> / year</span></h4>
                              <ul> 
                                  <li>
                                      <i class="fas fa-plus"></i><em>Serious</em>
                                  </li>
                                  <li>
                                      <i class="fas fa-tachometer-alt"></i>Anonymizing Utilities
                                  </li>
                                  <li>
                                      <i class="far fa-flag"></i>Planting Your Flag
                                  </li>
                                  <li>
                                      <i class="fas fa-american-sign-language-interpreting"></i>Disinformation Resources
                                  </li>
                                  <li>
                                      <i class="fas fa-users"></i>Manage Profiles
                                  </li>
                                  <li>
                                      <i class="fas fa-file-contract"></i>Export Tasks Offline
                                  </li> 
                                  <li>
                                      <i class="fas fa-hourglass-half"></i><em class="text-secondary">14-day free trial</em>
                                  </li> 
                              </ul>                                 
                              <div class="btn-wrap mt-auto"> 
                                  <a href="https://dashboard.OperationPrivacy.com/signup" class="btn-buy" target="_pg_blank">Take Control</a> 
                              </div>                                 
                          </div>                             
                      </div>
                  </div>
                                   
              </div>                 
          </section>
          <section id="pay-what-you-can" class="section-bg"> 
              <div class="container"> 
                  <div class="row">
                      <div class="col">
                          <div class="section-title"> 
                              <h2 data-aos="fade-up">About</h2> 
                              <ul>
                                  <li data-aos="fade-up">
                                      <i class="fas fa-hourglass-end"></i>Money should not be an excuse to delay taking control of your safety and freedom. So we&apos;ve made it FREE and accessible to everyone. The content in the dashboard has taken 1000&apos;s of hours of research, trial &amp; error, coding, and will be an ongoing project as long as privacy is undermined (forever!).&nbsp;
                                  </li>
                                  <li data-aos="fade-up">
                                      <i class="fas fa-hand-holding-usd"></i>To help maintain and support this project for the long term, you may donate based on the value you get out of it 
                                      <em>($0 is fine, We can and will continue to develop and maintain it even if no one contributes a single dollar).</em> Your contribution helps pay the long term costs of website hosting, maintenance, continuous updates, patches, bug fixes and enhancements done by the developers.
                                  </li>
                                  <li data-aos="fade-up">
                                      <i class="fas fa-unlock"></i>The dashboard is designed in a way that allows a methodical approch in getting important tasks done and helps you keep track of your progress.
                                  </li> 
                                  <li data-aos="fade-up">
                                      <i class="fas fa-balance-scale"></i>To ensure that the site's purpose and integrity is never compromised, there will <b>NEVER</b> be ads or sponsors on this website.</li>
                              </ul>
                              <a data-aos="fade-up" href="https://www.OperationPrivacy.com/donate" class="btn-buy " target="_blank">Donate</a>
                          </div>                             
                      </div>
                  </div>
              </div>
          </section>
          <!-- ======= Pricing Section ======= -->             
          <section id="transparency" class="pricing"> 
              <div class="container"> 
                  <div class="section-title">
                      <h2 data-aos="fade-up" class="aos-init aos-animate">Transparency</h2> </div>
                      
                      <p>We keep the bare minimum of information needed to maintain functionality. If information does not provide the user value, it is not stored.</p>
                      <p>You can also export a complete task list for offline usage at the expense of <b>losing</b> some online functions like constant updates, progress tracking, notifications, etc.</p>
                 
                                   
                  <div class="row mt-1"> 
                      <div class="col-lg-6 col-md-6 mt-3" data-aos="fade-up"> 
                          <div class="box"> 
                              <h3><i class="fas fa-lock icon-buffer"></i>&nbsp;Information We Store Encrypted</h3> 
                              <ul> 
                                  <li>Your password is End-to-End Encrypted (E2EE). If you lose it, you lose access to your account! Please use a password manager with Multifactor Authentication (MFA)</li>
                                  <li>Username (A unique account identifier, to create privilege levels, track &amp; store progress)</li>
                                  <li>Points (For your contribution)</li>
                                  <li>Subscription Tier (To assign privileges)</li>                                     
                                  <li>Task completion date (To show progress charts)</li>                                     
                              </ul>                                 
                          </div>                             
                      </div>
                      <div class="col-lg-6 col-md-6 mt-3" data-aos="fade-up"> 
                          <div class="box"> 
                              <h3><i class="fas fa-ban icon-buffer"></i>&nbsp;Information We DON&apos;T Store</h3> 
                              <ul> 
                                  <li>IP Address (Please Use a VPN nonetheless)</li>
                                  <li>Any digital fingerprinting (OS, Browser user-agent)</li>
                                  <li>Private information (D.O.B, SSN, address, phone number)</li>
                                  <li>Sign-in Logs</li>
                                  <li>Payment info (Use a virtual credit card)</li>
                                  <li>Ad Trackers</li>
                              </ul>                                 
                          </div>                             
                      </div>                         
                  </div>                     
              </div>                 
          </section>
          <!-- ======= F.A.Q Section ======= -->             
          <section id="faq" class="faq section-bg"> 
              <div class="container"> 
                  <div class="section-title"> 
                      <h2><i class="far fa-question-circle"></i> F.A.Q</h2> 
                  </div>                     
                  <div class="faq-list"> 
                      <div class="accordion accordion-flush faq-list" id="accordionFlushExample">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-1"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq1" aria-expanded="false" aria-controls="flush-faq1">How do all tiers become free?</button> </h2>
                              <div id="flush-faq1" class="accordion-collapse collapse" aria-labelledby="faq-1" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <div>
                                          <p>The tasks should be followed loosely in order. Ex. you should not proceed with opt-outs without creating alias emails, you should not explore disinformation tactics before opt-outs, etc. </p>
                                          <p>You can also earn points for contributing resources to the project. Every contribution accepted  = $1 (not real money) which can be put towards the paid tiers. With just a few contributions per month, you can have full access to everything for life without paying a cent!</p>
                                          <p>The insignificant cost is just to keep quality over quantity.</p>
  
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-2"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq2" aria-expanded="false" aria-controls="flush-faq2">
                                  Why is there a fee for the higher tier?</button> </h2>
                              <div id="flush-faq2" class="accordion-collapse collapse" aria-labelledby="faq-2" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <p>Remember, if it's free, you are the product. The entire platform has been completed and fully funded with personal funds. The small one time or subscription fee covers some of the recurring costs of maintaining the servers, programmers' fees for fixing bugs and feature updates.</p> 
                                      <p>We have found that getting started with the free tier is best for the  majority of individuals. Once you have had a good sense of managing your own privacy and decide to take it to the next level, the higher tier only cost enough to keep the lights on. </p> 
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-3"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq3" aria-expanded="true" aria-controls="flush-faq3">What does a contribution look like?</button> </h2>
                              <div id="flush-faq3" class="accordion-collapse collapse" aria-labelledby="faq-3" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <p>Click on the contribute button in the dashboard and pick a suggestion from the list. It can be an edit in  the task list, a new opt-out link, deleting an outdated website, editing inaccurate instructions in the notes, etc. Anything that adds value to our privacy.</p> 
                                      <p>Each suggestion will be manually looked at and if accepted, it will be incorporated and your account will  be credited with $1 which you can use for the subscription or anything else we offer in the future. It&apos;s just a way we value your contribution.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-4"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq4" aria-expanded="false" aria-controls="flush-faq4">How do you make money?</button> </h2>
                              <div id="flush-faq4" class="accordion-collapse collapse" aria-labelledby="faq-4" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body"> 
                                      <p>This platform was originally developed for personal and professional use on an excel sheet.</p>
                                      <p>We make money as privacy management consultants. This website displays our dedication to privacy and giving back to the community.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-5"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq5" aria-expanded="false" aria-controls="flush-faq5">
                                      What do I do if I have specific questions about a task?
  </button> </h2>
                              <div id="flush-faq5" class="accordion-collapse collapse" aria-labelledby="faq-5" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <p>Please take part in the <a href="https://matrix.to/#/#OperationPrivacy:matrix.org" target="_blank" title="Chat/Support"><i class="far fa-comments"></i> chat</a> forums to get your questions answered. We are executive privacy managers, you can hire us as well</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-6"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq6" aria-expanded="false" aria-controls="flush-faq6">
                                      Can I completely delete my account and data?
  </button> </h2>
                              <div id="flush-faq6" class="accordion-collapse collapse" aria-labelledby="faq-6" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <p>Of course, but before you hit the delete button consider downloading a copy of your tasks for yourself first and store it encrypted. You can import it back later if you want.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-7"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq7" aria-expanded="false" aria-controls="flush-faq7">
                                      Is my information private?
  </button> </h2>
                              <div id="flush-faq7" class="accordion-collapse collapse" aria-labelledby="faq-7" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <p>Yes. We wouldn&apos;t be privacy advocates if we abused it.</p>
                                      <p>We do not, will not and cannot view, share or sell any of your personal data because we don&apos;t have it. It's basically a fancy checklist. The database is end-to-end encrypted with the highest level of encryption available. Even if we had access, there is no personal information stored besides your username (as a unique identifier), email (if you want updates), progress based on checkboxes (so we can show you fancy charts). No logs are ever retained and are automatically purged periodically from all hosting servers and systems.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="faq-8"> <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-faq8" aria-expanded="false" aria-controls="flush-faq8">
                                      How do you secure my information?
  </button> </h2>
                              <div id="flush-faq8" class="accordion-collapse collapse" aria-labelledby="faq-8" data-bs-parent="#accordionFlushExample">
                                  <div class="accordion-body">
                                      <p> <ul> 
                                              <li>Our servers are protected with complex passwords, separation of privileges, obfuscation  and multifactor authentication to name a few.</li>                                                 
                                              <li>We periodically perform penetration testing with multiple ethical hackers and remediate any issues</li>                                                 
                                              <li>We patch and update everything as soon as we can</li>                                                 
                                              <li>The data is encrypted</li>                                                 
                                              <li>We welcome feedback and improvements</li>                                                 
                                          </ul> </p>
                                  </div>
                              </div>
                          </div>
                      </div>                         
                  </div>                     
              </div>                 
          </section>
      </main>